{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

  <h2>Science Fair Project Proposals</h2>
  <a href="/projects/new">Submit A Science Project Proposal</a>
  <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Project Name</th>
            <th>Student Name</th>
            <th>Testable Question</th>
            <th>Class Period</th>
            <th>Safe</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for proposal in proposals -%}
          <tr>
            <td>{{ proposal.id }}</td>
            <td>{{ proposal.project_name }}</td>
            <td>{{ proposal.student_name }}</td>
            <td>{{ proposal.testable_question }}</td>
            <td>{{ proposal.class_period }}</td>
            <td>{{ proposal.safe }}</td>
            {% if proposal.safe %}
            <td class="text-center text-danger"><span class="glyphicon glyphicon-thumbs-up"></span></td>
            {% else %}
            <td></td>
            {% endif %}
            <td><button type="button" class="btn btn-danger delete-btn" data-id="{{proposal.id}}"</button>DELETE</td>
          </tr>
        {%- endfor %}
        </tbody>
      </table>

{% endblock %}
